<div class="card-panel white">
      <span class="black-text">
        <div class="row">
          <form class="col s12">
            <h6> I am ready to Help</h6>
            <div class="row">
              <div class="input-field col s6">
                <input id="first_name" type="text" class="validate">
                <label for="first_name">First Name</label>
              </div>
              <div class="input-field col s6">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">Last Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
            </div>
             <div class="row">
              <div class="input-field col s12">
                <input id="areaId2" type="area" class="validate">
                <label for="text">Area</label>
              </div>
            </div>

          </form>
        </div>
      </span>
</div>