 
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
  <img id="uslogo" src="assets/images/newflag.png" width="80" > 
     
      <a id="logo-container" href="#" class="brand-logo">Neighbuddy</a>

      <ul class="right hide-on-med-and-down">
        <!-- Search engine-->
       <li>   <nav>
        <div class="nav-wrapper">
          <form>
            <div class="input-field white">
              <input id="search" placeholder = "Search by zip  " type="search" required>
              <label class="label-icon"  for="search"><i class="material-icons black-text">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
      </nav> </li>
        <li><a href="/">Home</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/seller">Post</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/">Home</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/seller">Post</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
      <!-- <h1 class="header center black-text text-lighten-2">A neighbor who has your back like a buddy does!"</h1> -->
      
         <div class="bcolor"> <h4 class="header col s12 white-text text-lighten-2">A neighbor who has your back like a buddy does! - Neighbuddy</h4></div>
        
       <!-- <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div> -->
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="assets/images/background1.jpg" width="800" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center "><i class="material-icons">place</i></h2>
            <h5 class="center">Local & Trusted</h5>

            <p class="light">A secured environment where all neighbors are verified and you can instantly connect. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center "><i class="material-icons">group</i></h2>
            <h5 class="center">Our Mission</h5>

            <p class="light"> Neighbuddy is for everyone, who`s ready to help or need help! Find people close to your living area, communicate and exchange information and essentials. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center "><i class="material-icons">mode_comment</i></h2>
            <h5 class="center">How to work with </h5>

            <p class="light"> Sign Up. Use our TradeNow platform or if someone needs help in your area, you`ll receive an email with their information. Then you need to contact each other. </p>
          </div>
        </div>
      </div>

    </div>
  </div>  


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h3 class="header col s12 light">Make a Difference Now</h3>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/images/background2.png" alt="Unsplashed background img 2"></div>
  </div>




<!--Card Holder-->

<div class="row">
  <div class="col s6 m4 " id="card1">
    <div class="card-panel white">
      <span class="black-text">
        <div class="row">
          <form class="col s12">
            <h6> I am ready to Help</h6>
            <div class="row">
              <div class="input-field col s6">
                <input id="first_name" type="text" class="validate">
                <label for="first_name">First Name</label>
              </div>
              <div class="input-field col s6">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">Last Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
            </div>
             <div class="row">
              <div class="input-field col s12">
                <input id="areaId2" type="area" class="validate">
                <label for="text">Area</label>
              </div>
            </div>
       
          </form>
        </div>        
      </span>
    </div>
  </div>
  <div class="col s6 m3 " ><img src="assets/images/exchange.png"  id="arrow" width ="300px"></div>>
  <div class="col s6 m4" id="card2">
    <div class="card-panel white">
      <span class="black-text">
        <div class="row">
          <form class="col s12">
            <h6> I need Help</h6>
            <div class="row">
              <div class="input-field col s6">
                <input id="first_name" type="text" class="validate">
                <label for="first_name">First Name</label>
              </div>
              <div class="input-field col s6">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">Last Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
            </div>
             <div class="row">
              <div class="input-field col s12">
                <input id="areaId2" type="area" class="validate">
                <label for="text">Area</label>
              </div>
            </div>
       
          </form>
        </div>    
      </span>
    </div>
  </div>
</div>



 <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
         <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/images/map.png" alt="Unsplashed background img 3"></div>
  </div>

{{> img_upload }}

  <footer class="page-footer ">
    <div class="container center">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4"> Our Story</p>


        </div>
       <!-- <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>    </ul>
        </div> -->
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center">
      Copyright<a class="brown-text text-lighten-3" href="http://materializecss.com"></a>
      </div>
    </div>
  </footer>



 