<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Passport Authentication</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css"/>
    <link href="stylesheets/style.css" rel="stylesheet" />
  </head>

<body>
 <nav class="white" role="navigation">
    <div class="nav-wrapper container">
  <img id="uslogo" src="assets/images/newflag.png" width="80" > 
      <a id="logo-container" href="#" class="brand-logo"> Logged in as: <span class="member-name"></span>
      </a>
      <ul class="right hide-on-med-and-down">
        <!-- Search engine-->
       <li>   <nav>
        <div class="nav-wrapper">
         <!-- <form>
            <div class="input-field white">
              <input id="search" placeholder = "Search by zip  " type="search" required>
              <label class="label-icon"  for="search"><i class="material-icons black-text">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form> -->
        </div>
      </nav> </li>
        <li><a href="/">Home</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/members">Post</a></li>
        <li><a href="/allitems">All Items</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/">Home</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/members">Post</a></li>
        <li><a href="/allitems">All Items</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h4 class="center-align">Post an Item Below</span></h4>
        </div>
      </div>
    </div>

		<div class="row">
            <div class="col-md-3 offset-md-3">
            </div>

			<div class="col-md-6 offset-md-3">
				<form class="item-post">
					<div class="form-group">
						<label for="name">Item Name:</label>
						<input placeholder="Item Name" type="text" class="form-control" id="name">
						<br />
            <label for="price">Item Price:</label>
						<input placeholder="Item Price" type="text" class="form-control" id="price">
						<br />
            <label for="trade">Open to trade:</label>
						<input placeholder="Yes" type="text" class="form-control" id="trade">
						<br />
						<label for="description">Item Description:</label>
						<input placeholder="Write a brief description here..." class="form-control" rows="10" id="item-description" /> 
            <label for="image">Upload Image:</label>
						<input placeholder="Yes" type="text" class="form-control" id="image">
            <button id="upload_widget" class="cloudinary-button-sm">UPLOAD A PHOTO</button>
						<br />
						
						<br />
						<button type="submit" class="btn btn-large submit blue">Submit Item</button>
					</div>
				</form>
                <div class="col-md-3 offset-md-3">
                </div>
			</div>
		</div>
	</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/members.js"></script>
    <script type="text/javascript" src="js/post-item.js"></script>
  </body>

</html>
