/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
  font-family: 'Baloo Chettan 2', cursive;
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color:black;
}

#uslogo {
  padding: 5px;
}
.parallax {
  margin-bottom:-5%;
}
h4 {
  margin-top:40%;
  margin-left:5%;
}
#areaId1 {
  width:100%;
  height:100px;
  margin-left:-5px;
  margin-top:40px;
}
#areaId2 {
  width:100%;
  height:100px;
  margin-left:-5px;
  margin-top:40px;
}
.bcolor {
  background-color:#BC2133;
  border-radius: 3px;
  border-style: hidden;
}
.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {  
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 10px;
  
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  background-color: #BC2133;
}

.card-panel {
  padding:30px;
  width: 80%;
  
 
}
#arrow { 
  margin-top:200px;

            
}

#card1 {
  margin-left:110px;
}